body {
    background-color: rgb(24, 24, 27);
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#tp_img {
    margin-bottom: -10px;
}
#tp_ext_name {
    font-size: 25px;
}
#tp_ext_desc {
    margin-top: 35px;
}
.tp-btn {
    display: block;
    width: 170px;
    border: 1px solid grey;
    transition: all 0.2s;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 10px;
    margin: 35px auto;
}
.tp-btn:hover {
    background-color: rgba(255,255,255,0.4);
}
.tp-btn:active {
    background-color: rgba(255,255,255,0.2);
}
#vid {
    width: 60%;
    height: auto;
    margin-top: 35px;
    outline: none;
    border: none;
}
#tp_select_file_input {
    display: none;
}