body {
    padding-top: 2vh;
    background-color: rgb(24, 24, 27);
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#tp_img {
    margin-bottom: -10px;
}
#tp_ext_name {
    font-size: 25px;
}
.sub-top-note {
    font-size: 17px;
    margin-top: 25px;
}
.tp_ext_desc {
    margin-top: 35px;
    font-size: 14px;
}
.tp-btn {
    width: 135px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    padding: 5px 25px;
    margin: 30px 10px 0 10px;
    align-items: center;
    background-color: #ffffff26;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
    transition: all 0.2s;
}
.tp-btn:hover {
    background-color: rgba(255,255,255,0.4);
}
.tp-btn:active {
    background-color: rgba(255,255,255,0.2);
}
.tp_allow_permissions_btn {
    background-color: #9147ff;
}
.tp_allow_permissions_btn:hover {
    background-color: #9c60ff;
}
.sub-section {
    color: darkgray;
    transform: scale(0.8);
    transition: transform 0.5s, box-shadow 0.5s;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
}
.sub-section .tp-btn{
    pointer-events: none;
}
.tp-sub-section-highlighted {
    color: whitesmoke !important;
    pointer-events: all !important;
    transform: scale(1) !important;
    box-shadow: 0 0 10px 0px white;
}
.tp-sub-section-highlighted .tp-btn, .tp-sub-section-highlighted .opd_sub_code_info {
    pointer-events: all !important;
}
.sub-section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
#tp_subscribe_btn {
    margin-top: 0px;
}
table select {
    color: white;
    background-color: rgb(24, 24, 27);
    border-radius: 5px;
}
#tp_validate_input {
    margin-top: 30px;
    color: white;
    background-color: rgb(24, 24, 27);
    border-radius: 5px;
    border: 1px solid grey;
    height: 25px;
    text-align: center;
}
#tp_validate_btn {
    margin-top: 15px;
}

.tp-sub-section-number {
    border: 2px solid white;
    border-radius: 50%;
    padding: 0 8px;
    background-color: dimgrey;
}
#validation_error_text_el {
    color: red;
}

#opd_sub_thanks_text {
    margin-top: 30px;
    font-size: 48px;
    color: limegreen;
}

.tp-action-loading-spinner {
    display: none;
    margin: 15px auto 0;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(24, 24, 27);
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: tp-validation-loading-spin 1s linear infinite;
}

/*#tp_validation_loading_spinner {

}*/

@keyframes tp-validation-loading-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.opd_sub_code_info {
    cursor: default;
    font-weight: normal;
}

.opd_sub_code_info {
    pointer-events: none;
}

#opd_sub_code_info, #opd_sub_gift_a_sub_code_info {
    display: none;
    position: absolute;
    width: 440px;
    height: 400px;
    top: -320px;
    right: -65px;
    border-radius: 20px;
}

.opd_sub_code_info:hover #opd_sub_code_info,.opd_sub_code_info:hover #opd_sub_gift_a_sub_code_info {
    display: block;
}
#tp_manage_unsub_btn {
    margin-top: 35px;
    position: absolute;
    left: 0;
    bottom: 8px;
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 2px;
    color: grey;
}
#opd_sub_have_code_btn {
    display: inline-flex;
    position: absolute;
    top: 16px;
    left: 16px;
}
#opd_sub_gift_a_sub_btn {
    display: inline-flex;
    position: absolute;
    top: 71px;
    left: 16px;
}
#opd_sub_unsub_instructions {
    text-align: left;
    margin-top: 30px;
    font-size: 15px;
    font-weight: normal;
}
.tp_gift_a_sub_plan_btn {
    height: 27px;
}
#sub_manage_subscription_details_container {
    text-align: left;
    font-size: 14px;
    margin-top: 25px;
}

.tp-contact-us-btn {
    display: inline-flex;
    margin: 0;
    position: fixed;
    bottom: 16px;
    right: 16px;
}
