.animated {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tp-anim-duration-1s {
    -webkit-animation-duration: 1000ms !important;
    animation-duration: 1000ms !important;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        display: none;
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        display: none;
        -webkit-transform: translate3d(-300%, 0, 0);
        transform: translate3d(-300%, 0, 0);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        display: none;
        -webkit-transform: translate3d(300%, 0, 0);
        transform: translate3d(300%, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        display: none;
        -webkit-transform: translate3d(300%, 0, 0);
        transform: translate3d(300%, 0, 0);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes backOutUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
    }

    100% {
        -webkit-transform: translateY(-2200px) scale(0.7);
        transform: translateY(-2200px) scale(0.7);
    }
}
@keyframes backOutUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
    }

    100% {
        -webkit-transform: translateY(-2200px) scale(0.7);
        transform: translateY(-2200px) scale(0.7);
    }
}
.backOutUp {
    -webkit-animation-name: backOutUp;
    animation-name: backOutUp;
}

@-webkit-keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
    }

    100% {
        -webkit-transform: translateY(2200px) scale(0.7);
        transform: translateY(2200px) scale(0.7);
    }
}
@keyframes backOutDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
    }

    100% {
        -webkit-transform: translateY(2200px) scale(0.7);
        transform: translateY(2200px) scale(0.7);
    }
}
.backOutDown {
    -webkit-animation-name: backOutDown;
    animation-name: backOutDown;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.tp-under-preview-logo {
    bottom: 0;
    background-color: rgba(23,23,23,0.75);
    width: 135px;
    font-family: cursive;
    height: 20px;
    padding-top: 1px;
    font-weight: bold;
    color: #a160ff;
    background-color: #232323;
    text-align: center;
    position: absolute;
}

.tp_anim_duration_700ms {
    animation-duration: 700ms;
}

.tp_anim_duration_1000ms {
    animation-duration: 1000ms;
}

.tp-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    zoom: 0.6;
}
.tp-roller div {
    animation: tp-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.tp-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.tp-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.tp-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.tp-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.tp-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.tp-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.tp-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.tp-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.tp-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.tp-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.tp-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.tp-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.tp-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.tp-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.tp-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.tp-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.tp-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes tp-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
