.tp-settings-container {
    display: block;
    position: fixed;
    z-index: 9999999;
    width: 800px;
    height: 600px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -300px;
}

#TPBodyEl {
    width: 800px;
    height: 600px;
    background-color: #232323;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, sans-serif;
    box-shadow: 10px 15px 10px -5px rgba(23,23,23,0.75);
}
#TPBodyEl > h2 {
    text-align: center;
    margin-top: -5px;
}
#TPBodyEl #TP_popup_logo {
    margin-top: -10px;
}
#TPBodyEl #TP_popup_sub_container {
    padding: 10px;
}
#TPBodyEl .TP_popup_toggle_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#TPBodyEl #tp_version {
    color: darkgrey;
    font-size: 10px;
    font-weight: normal;
}

#TPBodyEl .TP_popup_sidebar_feature_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid whitesmoke;
    font-weight: bold;
    padding-top: 15px;
    font-size: 14px;
    margin-top: 0;
}

#TPBodyEl .TP_popup_dirp_feature_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-top: 30px;
    border-top: 1px solid whitesmoke;
    padding-bottom: 5px;
    padding-top: 25px;*/
    margin-top: 15px;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

#TPBodyEl input.apple-switch {
    cursor: pointer;
    transition: 300ms;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 25px !important;
    height: 15px !important;
    background-color: #fff !important;
    border: 1px solid #D9DADC;
    border-radius: 25px;
    box-shadow: inset -10px 0 0 0 #fff;
}

#TPBodyEl input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

#TPBodyEl input.apple-switch:checked {
    box-shadow: inset 10px 0 0 0 #4ed164;
    border-color: #4ed164;
}

#TPBodyEl input.apple-switch:checked:after {
    left: 10px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

#TPBodyEl .TP_toggle_text {
    margin: auto;
    text-align: center;
    font-weight: bold;
    flex: 2;
}

#TPBodyEl #TP_popup_donation_container {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid whitesmoke;
    padding-top: 15px;
}

#TPBodyEl #TP_popup_donation_container > form {
    margin-top: 15px;
}

#TPBodyEl .switch {
    margin: auto 10px;
    position: relative;
    display: block;
    vertical-align: top;
    width: 133px;
    height: 30px;
    padding: 3px;
    flex: 3;
    /*
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    */
    border-radius: 18px;

    cursor: pointer;
}
#TPBodyEl .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#TPBodyEl .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: dodgerblue;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
#TPBodyEl .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
#TPBodyEl .switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
#TPBodyEl .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
#TPBodyEl .switch-input:checked ~ .switch-label {
    background: limegreen;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
#TPBodyEl .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
#TPBodyEl .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
#TPBodyEl .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 29px;
    height: 29px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#TPBodyEl .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
#TPBodyEl .switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
    ========================== */
#TPBodyEl .switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

#TPBodyEl .slide-container {
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
}

#TPBodyEl .slider {
    -webkit-appearance: none;
    width: 92%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#TPBodyEl .slider:hover {
    opacity: 1;
}

#TPBodyEl .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: limegreen;
    cursor: pointer;
}

#TPBodyEl .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: limegreen;
    cursor: pointer;
}

#TPBodyEl .TP_popup_bottom_bar {
    display: flex;
    margin-top: 9px;
}

#TPBodyEl .TP_popup_bottom_bar div {
    flex: 1;
    padding: 8px;
    cursor: pointer;
}

#TPBodyEl #tp_popup_rate_btn:hover {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#TPBodyEl #tp_popup_share_btn:hover {
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

#TPBodyEl .TP_popup_bottom_bar div:hover {
    background-color: rgb(162, 96, 254);
}

/* Chrome, Safari, Edge, Opera */
#TPBodyEl input::-webkit-outer-spin-button,
#TPBodyEl input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#TPBodyEl input[type=number] {
    -moz-appearance: textfield;
}

#TPBodyEl #tp_popup_feature_predictionsSniper > span input {
    display: inline-block;
    background-color: #232323;
    text-align: center;
    width: 30px;
    color: whitesmoke;
    font-size: 12px;
    padding: 0;
    border: none;
    border-bottom: 1px solid gray;
}

#TPBodyEl #TP_popup_predictions_sniper_checkbox {
    align-self: baseline;
}

#TPBodyEl #tp_settings_title_container{
    width: 100%;
    height: 40px;
}

#TPBodyEl #tp_settings_title {
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

#TPBodyEl .tp_title_shadow_el {
    width: 512px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 3px 13px 13px -14px rgb(78, 209, 100);
}

#TPBodyEl #TP_popup_preview_size_input_slider {
    margin-top: 12px;
}

#TPBodyEl #tp_settings_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: rgba(255,255,255,0.035);
}

#TPBodyEl #tp_settings_close_btn {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 15px;
    color: grey;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transform: scale(1.4,1);
    -moz-transform: scale(1.4,1);
    -ms-transform: scale(1.4,1);
    -o-transform: scale(1.4,1);
    transform: scale(1.4,1);
}

#TPBodyEl #tp_settings_close_btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: whitesmoke;
}

#TPBodyEl #tp_settings_close_btn:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
}

#TPBodyEl .tp_settings_info_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border: 1px dashed #a160fe;
    border-radius: 20px;
    padding: 3px 5px;
    cursor: pointer;
    color: darkgrey;
    font-size: 11px;
    text-decoration: none;
}

#TPBodyEl .tp_settings_info_btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: whitesmoke;
    border: 1px solid #a160fe;
    text-decoration: none;
}

#TPBodyEl .tp_settings_info_btn:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
    border: 1px solid #a160fe;
    text-decoration: none;
}

#TPBodyEl .tp_settings_feature_info_div {
    max-height: 0;
    margin-top: 5px;
    text-align: left;
    color: darkgray;
    font-size: 12px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
}

#TPBodyEl .tp_settings_cb_container {
    display: flex;
    align-items: center;
}

#TPBodyEl .tp_settings_expand {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    transform: rotate(0deg);
    transition: transform 275ms ease-in-out;
    -webkit-transition: transform 275ms ease-in-out;
    -moz-transition: transform 275ms ease-in-out;
    -o-transition: transform 275ms ease-in-out;
}

#TPBodyEl .tp_settings_expand:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#TPBodyEl .tp_settings_expand:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#TPBodyEl .tp_settings_switch_container {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

#TPBodyEl .tp_settings_switch_container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}